@import "./color.module";

.wrapper {
  .roadMap {
    width: 100%;
    height: 100%;
    position: relative;

    .intro {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      width: 70%;
      height: 35rem;
      border: 1px solid white;
      margin: 3.5rem auto 3.5rem;
      h1 {
        font-size: $font-large;
      }
      h3 {
        font-size: $font-small;
      }
    }

    .lineContainer {
      position: absolute;
      top: 100%;
      left: 50%;
      transform: translateX(-50%);
      width: 80%;
      height: 100%;
      text-align: center;
      svg {
        display: inline-block;
        height: 100vh;
      }
    }
  }
  .footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 3.5rem;
  }
}
